{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<h1 class="h3 mb-3 font-weight-normal">Connexion</h1>


<form method="post" style="display: flex; flex-direction: column; justify-content: center; width: 35%; margin: auto; padding: 5%; box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.email }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    
    <label for="inputEmail">Email</label>
    <input style="padding: 2%; font-size: 1.5rem;" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>

    <label for="inputPassword">Mot de passe</label>
    <input style="padding: 2%; font-size: 1.5rem;" type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <button class="form" type="submit" style="width: 50%; margin: 5% auto; padding: 2%; font-size: 1.5rem; border: none; background-color: green; color: white;">Se connecter</button>
</form>
{% endblock %}
