{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

	<section class="hero">

		<div class="carrousel">
			<section class="has-dflex-center">
				<div class="lx-row">
					<div class="lx-card carousel-container">
						<div class="item fade">
							<div class="image">
								<video class="video" autoplay muted loop>
										<source src="{{ asset('img/video_kayak.webm') }}" type="video/webm"/>
								</video>
							</div>
							<div class="text is-text-right">
								<h1 class="title">Bienvenue sur le site Camargue Nautisme</h1>
								<a class="reservation-btn" href="{{ path('prereservation') }}">Réserver</a>
							</div>
						</div>
						<div class="item fade">
							<div class="image"><img src="{{ asset('img/kayaks.png') }}" alt="hero"></div>

							<div class="text is-text-right">
								<h1 class="title">Bienvenue sur le site Camargue Nautisme</h1>
								<a class="reservation-btn" href="{{ path('prereservation') }}">Réserver</a>
							</div>
						</div>
						<div class="item fade">
							<div class="image"><img src="{{ asset('img/paddle.jpeg') }}" alt="hero"></div>
							
							<div class="text is-text-right">
								<h1 class="title">Bienvenue sur le site Camargue Nautisme</h1>
								<a class="reservation-btn" href="{{ path('prereservation') }}">Réserver</a>
							</div>
						</div>
						<a class="prev has-dflex-center">
							<i class="fas fa-angle-left"></i>
						</a>
						<a class="next has-dflex-center">
							<i class="fas fa-angle-right"></i>
						</a>
					</div>
				</div>
			</section>
			<div class="arrow-down">
				<a href="#about">
					<i class="fa-solid fa-arrow-down fa-bounce"></i>
				</a>
			</div>

			<section class="about" id="about">

				<div class="home-bloc">
					<div class="bg1 d-flex-c-center">
                        <div class="home-txt">
                            <h3>Palavas-les-Flots</h3>
							<div class="line"></div>
							<a class='about-btn' href="{{ path('app_location') }}">En savoir plus</a>
						</div>
                    </div>
				</div>

                <div class="home-bloc">
                    <div class="bg2 d-flex-c-center">
                        <div class="home-txt">
                            <h3>Equipements</h3>
							<div class="line"></div>
                            <a class='about-btn' href="{{ path('app_equipment_index') }}">En savoir plus</a>
                        </div>
                    </div>
                </div>

                <div class="home-bloc">
                    <div class="bg3 d-flex-c-center">
                        <div class="home-txt">
                            <h3>Carnon</h3>
							<div class="line"></div>
							<a class='about-btn' href="{{ path('app_location') }}">En savoir plus</a>
                        </div>
                    </div>
                </div>

                </section>



				<section class="avis-section">
					<div class="avis-bloc"></div>
				</section>

				<section class="partners"></section>

				<section class="contact"></section>

			{% endblock %}
