<footer>
    <section>
        <div>
            <ul>
                <li>
                    <a href="{{ path('app_home') }}">Accueil</a>
                </li>
                <li>
                <li>
                    <a href="{{ path('app_location') }}">Palavas-les-flots</a>
                </li>
                <li>
                    <a href="{{ path('app_location') }}">Carnon</a>
                </li>
                </li>
                <li>
                    <a href="{{ path('app_equipment_index') }}">Equipement</a>
                </li>
                <li>
                    <a href="{{ path('prereservation') }}">Réservation</a>
                </li>
            </ul>
        </div>
    </section>
</footer>