{% extends 'base.html.twig' %}

{% block title %}Equipment{% endblock %}

{% block body %}
    <div class="equipment">
    <h1>Equipment</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ equipment.id }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ equipment.image }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ equipment.price }}€</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ equipment.description }}</td>
            </tr>
        </tbody>
    </table>

    <a class="view-btn" href="{{ path('app_equipment_index') }}">Retour</a>

    <a class="edit-btn" href="{{ path('app_equipment_edit', {'id': equipment.id}) }}">Modifier</a>
    </div>

    {{ include('equipment/_delete_form.html.twig') }}
{% endblock %}
