{{ form_start(form) }}

    {% if form_errors(form.nameClient) %}
        <div class="alert-reservation error-reservation">
            {{ form_errors(form.nameClient) }}
        </div>
    {% elseif form_errors(form.emailClient) %}
        <div class="alert-reservation error-reservation">
            {{ form_errors(form.emailClient) }}
        </div>
    {% elseif form_errors(form.equipment) %}
        <div class="alert-reservation error-reservation">
            {{ form_errors(form.equipment) }}
        </div>
    {% endif %}


    <section class="form d-flex-c-center">
        <div class="row">
            {{ form_label(form.nameClient) }}
            {{ form_widget(form.nameClient, {'attr': {'class': 'input'}}) }}
        </div>
        <div class="row">
            {{ form_label(form.emailClient) }}
            {{ form_widget(form.emailClient, {'attr': {'class': 'input'}}) }}
        </div>
        <div class="row">
            {{ form_label(form.equipment) }}
            {{ form_widget(form.equipment, {'attr': {'class': 'input'}}) }}
        </div>

        <button class="reservation-btn">{{ button_label|default('Réserver') }}</button>
    </section>
{{ form_end(form) }}

