{% extends 'base.html.twig' %}

{% block title %}Réservation
{% endblock %}

{% block body %}
	<h1>Réserver votre équipement</h1>

	{% for message in app.flashes('success') %}
		<div class="alert-reservation success-reservation">
			{{ message }}
		</div>
	{% endfor %}

	{% for message in app.flashes('error') %}
		<div class="alert-reservation error-reservation">
			{{ message }}
		</div>
	{% endfor %}


	<form method="post" action="{{ path('prereservation_save') }}">
		<section class="d-flex-c-center">
			<div class="row">
				<label for="location-date">Jour de réservation:</label>
				<input class="input" type="date" id="location-date" name="location-date" value="<?php new DateTime('now') ?>" min="<?php new DateTime('now') ?>" max="<?php new DateTime('now') ?>">
			</div>

			<div class="row">
				<label for="location">Lieu de location:</label>
				<select class="input" id="location" name="location">
					{% for location in locations %}
						<option value="{{ location.id }}">{{ location.address }}</option>
					{% endfor %}
				</select>
			</div>

			<button class="reservation-btn" type="submit">Confirmer</button>

		</section>
	</form>

	{% if app.user %}
		<a class="view-btn" href="{{ path('app_reservation_index') }}">Voir les réservations</a>
	{% endif %}

{% endblock %}

