{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
    <h1>Reservation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservation.id }}</td>
            </tr>
            <tr>
                <th>EmailClient</th>
                <td>{{ reservation.emailClient }}</td>
            </tr>
            <tr>
                <th>DateLocation</th>
                <td>{{ reservation.dateLocation ? reservation.dateLocation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>NameClient</th>
                <td>{{ reservation.nameClient }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ reservation.createdAt ? reservation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="view-btn" href="{{ path('app_reservation_index') }}">Retour</a>

    <a class="edit-btn" href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">Modifier</a>

    {{ include('reservation/_delete_form.html.twig') }}
{% endblock %}
